<h1>Editing Challenge</h1>

<div class="edit-field">
	<%= render 'form', challenge: @challenge %>
</div>

<% if teacher_signed_in? %>
	<%= link_to 'View', @challenge, class: "btn btn-default" %>
	<%= link_to 'Back', challenges_path, class: "btn btn-default" %>
<% else %>
	<%= link_to 'Back', challenges_path, class: "btn btn-default" %>
<% end %>



