// Place all the styles related to the Challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/***********************************************
NAVBAR
***********************************************/



/***********************************************
GENERAL
***********************************************/

.challenge-cards {
	flex-wrap: flex;
	justify-content: center;
	text-align: center;
	margin: 20px 10px;
}

.new-ch-btn {
	align-content: center;
	margin: 10px; 
}

/***********************************************
HEADINGS
***********************************************/

h1 {
	text-align: center;
}

/***********************************************

***********************************************/



/***********************************************
COLOURS & FONTS
***********************************************/

.navbar {
	background-color: #EC5037; /*Orange*/
	border-color: #EC5037;

	&-nav__link {
		color: #EBECEB;
	}
}

.btn {
	color: #EC5037;
	border-color: #EC5037;
	border-width: 2px;
}

.btn:hover {
	background-color: #EC5037;
	color: #EBECEB;
	border-color: #EBECEB;
}

.btn-invert {
	background-color: #EC5037;
	color: #EBECEB;
}

.btn-invert:hover {
	color: #EC5037;
	background-color: #EBECEB;
	border-color: #EC5037;
}

.navbar-default .navbar-nav li a {
	color: #EBECEB; /*Offwhite or gray*/
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #5ED1EB; /*Light blue*/
}

body {
	background-color: #9CD3FF;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem
}

