// Place all the styles related to the Challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/***********************************************
NAVBAR
***********************************************/

.navbar li {
	font-size: 1.4rem;
	text-align: center;
}

/***********************************************
GENERAL
***********************************************/

.challenge-cards {
	flex-wrap: flex;
	justify-content: center;
	text-align: center;
	margin: 20px 10px;
}

.field {
	font-size: 1.2rem;
	margin: 8px;
}

.edit-field {
	text-align: center;
}

.panel-default {
	padding-bottom: 8px;
}

.cards {
	display: flex;
	flex-wrap: wrap;
}

/***********************************************
BUTTONS
***********************************************/

.btn {
	margin: 5px;
}

.btn-invert {
	margin: 0px;
}

.new-ch-btn {
	align-content: center;
	margin: 10px; 
}

/***********************************************
HEADINGS & Paragraphs
***********************************************/

h1 {
	text-align: center;
	font-weight: bold;
	font-size: 4.1rem;
	text-decoration: underline;
	margin: 15px 0px;
	padding-bottom: 25px;
}

h2 {
	text-align: center;
	font-weight: bold;
	font-size: 2.5rem;
}

p {
	text-align: center;
	font-size: 1.2rem;
	padding-top: 5px;
	padding-bottom: 18px;
}

/*** Form Field Titles ***/

.edit-title {
	padding-bottom: 10px;
}

.text-field {
	text-align: center;
}

input[type=text] {
	width: 50%;
	text-align: center;
}

/***********************************************

***********************************************/



/***********************************************
COLOURS & FONTS
***********************************************/

/***** NAV *****/

.navbar {
	background-color: #EC5037; /* Orange */
	border-color: #EC5037;

	&-nav__link {
		color: #EBECEB; /* Offwhite/ light gray */
	}
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color: #EBECEB; /* Offwhite/ light gray */
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
	color: #5ED1EB; /* Light blue/green */
}

.navbar-default .navbar-nav li a {
	color: #EBECEB; /* Offwhite/ light gray */
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #5ED1EB; /* Light blue/green */
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: #EC5037; /* Orange */
	color: #5ED1EB; /* Light blue/green */
}

.dropdown-menu {
	background-color: #EC5037; /* Orange */
	color: #5ED1EB; /* Light blue/green */	
}

.dropdown-menu li a:hover {
	color: #EC5037; /* Orange */
}

/***** BUTTONS *****/

.btn {
	color: #EC5037; /* Orange */
	border-color: #EC5037; /* Orange */
	border-width: 2px;
}

.btn:hover {
	background-color: #EC5037; /* Orange */
	color: #EBECEB; /* Offwhite/ light gray */
	border-color: #EBECEB; /* Offwhite/ light gray */
}

.btn-invert {
	background-color: #EC5037; /* Orange */
	color: #EBECEB; /* Offwhite/ light gray */
}

.btn-invert:hover {
	color: #EC5037; /* Orange */
	background-color: #EBECEB; /* Offwhite/ light gray */
	border-color: #EC5037; /* Orange */
}

/***** GENERAL *****/

body {
	background-color: #38A9C7; /* Change to preffered colour */
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem
}

p, h2 {
	color: #EBECEB;
}

.panel-default {
	background-color: #16657A; /* Orange */
}

/***********************************************
MEDIA QUERIES
***********************************************/

/*@media (min-width : 768px) {
	.class {
		color: red;
	}
}*/



