// Place all the styles related to the Challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/***********************************************
NAVBAR
***********************************************/



/***********************************************
GENERAL
***********************************************/

body {
	align-content: center;
	text-align: center;
}

/***********************************************

***********************************************/



/***********************************************

***********************************************/



/***********************************************
COLOURS
***********************************************/

.navbar {
	background-color: #EC5037;
	border-color: #EC5037;
}

body {
	color: #2D2D2D;
}

